

# API_BASE_URL=https://api.yangpimpollo.com


API_BASE_URL=http://localhost:2004/v3

TENANT_SLUG=vonex
DRAFT_ENABLED=true


APP_VERSION=1.0.0



# npm run dev 
# npm run build-env  
# npm run build
# npx http-server dist/lugia/browser -p 8081 
# npx serve -s dist/lugia/browser -l 8081  


# npm run build 
# docker compose up -d --build

# 1. Clonar repo
# 2. Copiar .env.example a .env y llenar los valores
# 3. Levantar
# docker compose up -d --build